@model List<string>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/scripts/jquery-3.2.1.min.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <link href="~/Content/c3.min.css" rel="stylesheet" type="text/css" />
    <script src="~/scripts/d3/d3.min.js" charset="utf-8" type="text/javascript"></script>
    <script src="~/scripts/c3.min.js" type="text/javascript"></script>
    <script src="~/scripts/moment.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/scripts/DataFetcher.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart', 'line', 'gauge'] });
        google.charts.setOnLoadCallback(init);
    </script>
    <style type="text/css">
        html {
            position: relative;
        }

        body {
            background-color: rgb(240,240,240);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
            margin: 0 auto;
        }

        .container-fluid {
            max-width: 1400px;
            position: relative;
            padding-left: 0;
            padding-right: 0;
        }

        .topContainer {
            position: relative;
        }

        .row {
            margin-left: 0;
            margin-right: 0;
        }

            .row div {
                padding-left: 0;
                padding-right: 0;
            }

        .contentContainer {
            width: 90%;
            margin: 10px auto 5px;
        }

            .contentContainer .row {
                margin-top: 10px;
            }

        .chart {
            width: 100%;
            min-height: 230px;
        }

        .headerText {
            text-align: center;
        }

        @@media (min-width: 768px) {
            .col-sm-5 {
                width: 49%;
            }

            .col-sm-offset-2 {
                margin-left: 2%;
            }

            #delayGraph {
                height: 350px !important;
            }
        }

        @@media (max-width: 767px) {
            .headerText {
                display: none !important;
            }

            .numberTile p {
                font-size: 14px !important;
            }

            .numberTile span {
                font-size: 20px !important;
            }

            .tileColor {
                height: 48px !important;
            }
        }

        .col-xs-5 {
            width: 48%;
        }

        .col-xs-offset-2 {
            margin-left: 4%;
        }

        .numberTile {
            min-height: 48px;
            min-width: 65px;
            margin-top: 5px;
            display: flex;
            font-size: 22px;
            background-color: #E8E8E8;
            padding-left: 0px;
        }

            .numberTile div {
                padding-left: 5px;
            }

            .numberTile p {
                font-weight: 200;
                font-size: 16px;
                margin-bottom: 0;
            }

            .numberTile span {
                font-weight: 300;
                font-size: 22px;
                text-align: center;
            }

        #delayGraph {
            height: 180px;
        }

        .gaugeChartContainer {
            position: relative;
        }

        #gaugeChart {
            margin: 0 auto;
        }

        .tileColor {
            height: 60px;
            width: 15px;
            padding-left: 0;
        }

        .color1 {
            background-color: #7FBA00;
        }

        .color2 {
            background-color: #F25022;
        }

        .color3 {
            background-color: #FFB901;
        }

        .color4 {
            background-color: #0072C6;
        }

        .c3-chart-arcs-background {
            fill: #E8E8E8 !important;
        }
    </style>
    <title>Index</title>
</head>
<body>
    <div class="container-fluid">
        <div class="contentContainer">
            <div class="row topContainer">
                <div class="col-sm-5 gaugeChartContainer">
                    <h4 class="headerText">Risk of error within one minute</h4>
                    <div id="gaugeChart"></div>
                </div>
                <div class="col-sm-5 col-sm-offset-2 col-xs-12 col-xs-offset-0 tileContainer">
                    <h4 class="headerText">Status of past 100 requests</h4>
                    <div class="row">
                        <div class="col-xs-5 numberTile">
                            <div class="col-xs-1 tileColor color1"></div>
                            <div class="col-xs-11">
                                <p>
                                    Successes
                                    <br />
                                    <span id="labelStatus300">0</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-5 col-xs-offset-2 numberTile">
                            <div class="col-xs-1 tileColor color2"></div>
                            <div class="col-xs-11">
                                <p>
                                    Failures
                                    <br />
                                    <span id="labelStatus700">0</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 numberTile">
                            <div class="col-xs-1 tileColor color3"></div>
                            <div class="col-xs-11">
                                <p>
                                    Timeouts
                                    <br />
                                    <span id="labelStatusTimeout">0</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-5 col-xs-offset-2 numberTile">
                            <div class="col-xs-1 tileColor color4"></div>
                            <div class="col-xs-11">
                                <p>
                                    Others
                                    <br />
                                    <span id="labelStatusOther">0</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contentContainer">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="headerText">Delay of recent requests </h4>
                    <div id="delayGraph" class=""></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
